.square {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #345678), color-stop(100%, #FF7654));
  background: -webkit-linear-gradient(top, #345678, #FF7654);
  background: -moz-linear-gradient(top, #345678, #FF7654);
  background: -o-linear-gradient(top, #345678, #FF7654);
  background: linear-gradient(top, #345678, #FF7654);
  background-color: #345678;
  border: 2px solid #990000;
}
.anchomaximo {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.boton {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2db0f2), color-stop(100%, #0b3052));
  background: -webkit-linear-gradient(top, #2db0f2, #0b3052);
  background: -moz-linear-gradient(top, #2db0f2, #0b3052);
  background: -o-linear-gradient(top, #2db0f2, #0b3052);
  background: linear-gradient(top, #2db0f2, #0b3052);
  background-color: #2db0f2;
  border: 1px solid #0b77ae;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: white;
}
body {
  background-color: rgba(65, 152, 232, 0.56);
  margin: 0;
  font-family: "Orbitron";
  font-size: 0.9em;
}
header {
  margin: 0;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #0a406e;
  background-color: #2590ec;
  font-size: 24px;
  font-size: 1.5rem;
}
#imagen {
  background-image: url("../img/Less.png");
  width: 200px;
  height: 80px;
  margin-right: 10px;
  float: left;
}
nav {
  background-color: rgba(37, 144, 236, 0.7);
  border-bottom: 1px solid rgba(10, 64, 110, 0.7);
  height: 20px;
  padding: 15px;
}
aside {
  height: 200px;
}
.square1 {
  height: 100px;
  float: left;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #345678), color-stop(100%, #FF7654));
  background: -webkit-linear-gradient(top, #345678, #FF7654);
  background: -moz-linear-gradient(top, #345678, #FF7654);
  background: -o-linear-gradient(top, #345678, #FF7654);
  background: linear-gradient(top, #345678, #FF7654);
  background-color: #345678;
  border: 2px solid #990000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 47.4375%;
  margin: 0 1.03125%;
  color: white;
}
.square2 {
  width: 47.4375%;
  margin: 0 1.03125%;
  height: 100px;
  float: left;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #345678), color-stop(100%, #FF7654));
  background: -webkit-linear-gradient(top, #345678, #FF7654);
  background: -moz-linear-gradient(top, #345678, #FF7654);
  background: -o-linear-gradient(top, #345678, #FF7654);
  background: linear-gradient(top, #345678, #FF7654);
  background-color: #345678;
  border: 2px solid #990000;
}
#contenedor-squares {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
article {
  color: #1a1a1a;
  padding: 3%;
  border: 1px solid rgba(14, 91, 157, 0.7);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #050505;
  width: 70%;
  margin: 0 auto;
  float: none;
  margin-top: 10px;
}
article h2 {
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.56);
  color: rgba(65, 152, 232, 0.56);
}
article::after {
  content: "Leer más";
  color: #996300;
}
a::before {
  content: "+ ";
}
footer {
  margin: 0;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #0a406e;
  border-top: 1px solid #0a406e;
  background-color: #2590ec;
}
.letraPrimera {
  font-size: 1.6em;
  font-weight: bold;
  border: 1px solid;
  background-color: #2590ec;
  border-radius: 5px;
}
#botonera {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
}
#botonera li {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2db0f2), color-stop(100%, #0b3052));
  background: -webkit-linear-gradient(top, #2db0f2, #0b3052);
  background: -moz-linear-gradient(top, #2db0f2, #0b3052);
  background: -o-linear-gradient(top, #2db0f2, #0b3052);
  background: linear-gradient(top, #2db0f2, #0b3052);
  background-color: #2db0f2;
  border: 1px solid #0b77ae;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: white;
}
